
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;

    box-sizing: border-box;

    outline: none;
    margin: 0%;
    padding: 0%;
}

html,
body{
    overflow: hidden;

    margin: 0%;
    padding: 0%;
}

html{
    --main-bod: rgb(255, 255, 255);
    --second-bod: #ededed;
    
    --navbar-clr: rgb(28, 11, 102);
    --navbar-height: 4em;
    --sidebar-width: 4em;

    --border-rad-sml: 0.5rem;
    --border-rad-lrg: 1rem;

    --bloc-height: 3em;
    --bloc-aspect-ratio: 4;

    --line: 2px;
    --line-color: rgb(255, 255, 255);

    --shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.1);
    --shadow-dark: 2px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

/* Chrome, Edge, Safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/*-- Navbar --*/
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;

    position: sticky;
    top: 0%;
    left: 0%;

    gap: 0.5em;

    height: var(--navbar-height);
    width: 100%;

    background-color: var(--navbar-clr);
    color: var(--main-bod);

    z-index: 6;
}

.navbar-logo{
    width: 1.5em;
}

/*-- Content --*/
.content{
    display: flex;
    flex-direction: row;

    width: 100%;
    height: calc(100vh - var(--navbar-height));
}

/*-- Sidebar --*/
.content-sidebar{
    position: relative;
}

.sidebar-list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    height: 100%;

    list-style: none;
}

.sidebar-menu{
    position: relative;

    gap: 0.5em;
    padding: 0.5em;

    width: var(--sidebar-width);

    background-color: var(--second-bod);

    z-index: 5;
}

.menu-item{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.75em;

    border: none;
    border-radius: var(--border-rad-sml);

    background-color: var(--main-bod);
    box-shadow: var(--shadow);

    aspect-ratio: 1;

    transition: background-color 200ms ease, box-shadow 200ms ease;

    cursor: pointer;
}

.menu-item:has(input[type='radio']:checked){
    background-color: var(--color);
}

.menu-item:hover{
    box-shadow: var(--shadow-dark);
}

.sidebar-collapse{
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 0%;
    left: var(--sidebar-width);

    background-color: var(--main-bod);
    box-shadow: var(--shadow);

    gap: 0.5em;
    padding: 0.5em;

    height: 100%;   

    overflow: none;

    transition: transform ease 500ms;

    z-index: 4;

    transform: translateX(-200%);
    will-change: transform;
}

.not-collapsed{
    transform: translateX(0%) !important;
}

.collapse-heading{
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    width: 100%;
    height: min-content;
}

.heading-close{
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;

    top: 50%;
    right: 0%;

    transform: translate(0%, -50%);

    border: none;
    background: none;
}

.close-icon{
    aspect-ratio: 1;
    width: 1.25em;
}

.collapse-list{
    gap: 0.25em;
}

.list-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0.5em;

    height: var(--bloc-height);

    border-radius: var(--border-rad-sml);

    color: white;
    background-color: var(--color);
    box-shadow: var(--shadow);

    aspect-ratio: var(--bloc-aspect-ratio);

    cursor: grab;

    transition: opacity 50ms ease;
}

.list-item input[disabled], .list-item select[disabled],
.list-item label:has(input[disabled]), .list-item label:has(select[disabled]){
    pointer-events: none;
    cursor: grab
}

.list-item:active{
    cursor: grabbing;
}

.item-attribute{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    gap: 0.5em;
    
    list-style: none;
}

.attribute-entry label{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: relative;

    gap: 0.15em;

    cursor: text;
}

.attribute-input{
    color: white;
    background-color: transparent;
    border: none;

    font-size: 0.67em;
    font-weight: 700;

    text-align: right;

    overflow: visible;
}

.attribute-select{    
    position: absolute;

    color: black;
    background-color: var(--second-bod);

    opacity: 0;

    width: 100%;

    z-index: 2;
    cursor: pointer;
}

.attribute-select option{
    cursor: pointer;
}

.attribute-icon{
    aspect-ratio: 1;
    width: 0.9em;
}

/*-- Main --*/
.content-main{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: baseline;

    position: relative;

    gap: 1em;
    padding: 1em;

    width: 100%;
    height: 100%;
}

.main-header{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: baseline;

    gap: 0.5em;

    width: 100%;
    height: min-content;
}

.header-description{
    display: flex;
    flex-direction: column;

    gap: 1em;

    width: 30%;
}

.main-schedule{
    padding: var(--bloc-height);

    width: 100%;
    height: min-content;

    border: none;
    border-radius: var(--border-rad-lrg);

    background-color: var(--second-bod);
    box-shadow: var(--shadow);
}

html{
    --bloc-gap: 0.25em;
}

.schedule-grid{
    display: grid;
    grid-template-rows: repeat(12, calc(var(--bloc-height) + var(--bloc-gap) * 2));
    grid-auto-flow: column;

    justify-items: center;
    align-content: start;

    padding-top: calc(var(--line) / 2 + var(--bloc-gap));

    background-image: linear-gradient(
        to bottom,
        var(--line-color) var(--line),
        transparent 0
    );
    background-size: 100% calc(var(--bloc-height) + var(--bloc-gap) * 2);
    background-repeat: repeat;
}

.grid-row{
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    gap: var(--bloc-gap);

    width: 100%;
    height: var(--bloc-height);
}

.row-time{
    position: absolute;
    right: 0;

    font-weight: 600;
    color: var(--line-color);
    z-index: 5;
}

.main-interact{
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    bottom: 0%;
    right: 0%;

    padding: 1em;
    gap: 1em;
}

.interact-btn{
    padding: 1em;

    border: none;
    border-radius: var(--border-rad-sml);

    color: white;
    box-shadow: var(--shadow);
    
    font-weight: 600;

    transition: transform 200ms ease;
}

.interact-btn:hover{
    box-shadow: var(--shadow-dark);
}

.interact-btn:active{
    transform: translateY(3px);
}

.interact-help{
    background-color: #0077ff;
}

.interact-result{
    background-color: #0077ff;
}

.interact-clear{
    background-color: #E07474;
}

